#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.green-cell {
    background-color: #c0f7c4;
}

.red-row {
    background-color: #f4d2cb !important; 
}

.ag-group-value {
  display: inline-flex;
}